body {
    font-family: Arial, sans-serif;
}
header, section, footer{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
main {
    display: flex;
    justify-content: space-between;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}