body {
    font-family: arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media(max-width: 1024px) {
    body {
        background-color: lightgray;
    }
}

@media(max-width: 768px) {
    body {
        background-color: gray;
    }
}

@media(max-width: 480px) {
    body {
        background-color: black;
        color: white;
    }
}




@media print {
    body {
        background: white;
        color: black;
        font-size: 12pt;
    }
    header, footer, nav, aside{
        display: none;
    }
    main{
        margin: 2cm;
    }
}






:root{
    color-scheme: light dark;
}

body {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme:dark) {
    body {
        background-color: black;
        color: white;
    }
}