body {
    background-image: url("tlo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}

.img1{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 500px;
    height: 400px;
}

.img2{
    position: absolute;
    top: 40%;
    right: 15%;
    width: 500px;
    height: 400px;
}